{% extends 'base.html' %}
{% load producto_extras %}

{% block content %}

    {% if cart.productos.exists %}
        <div class="col-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for cp in cart.productos_related %}
                        {% with producto=cp.producto %}
                            <tr>
                                <th>{{ forloop.counter }}</th>
                                <th>
                                    {% if producto.image %}
                                        <img src="{{ producto.image.url }}" alt="Imagen del producto" width="60" height="60">
                                    {% endif %}
                                </th>
                                <th>
                                    <a href="{% url 'productos:producto' producto.slug %}">{{ producto.titulo }}</a>
                                    {% include 'carts/snippets/remove.html' %}
                                </th>
                                <th>{{ cp.quantity }}</th>
                                <th>
                                    <span class="font-weight-bold text-danger">{{ producto.precio | precio_format }}</span>
                                </th>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="card cardpago">
                <div class="card-body">
                    <div class="font-weight-bold" style="font-weight: bold;">
                        Subtotal ({{ cart.productos.count }}): <span class="text-danger">{{ cart.subtotal | precio_format }}</span>
                    </div>
                    <div class="mt-2">
                        <a href="{% url 'orders:order' %}" class="btn btn-custom">Proceder al pago</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col">
            <p class="h3">Tu carrito de compras esta vacio.</p>
            <a href="{% url 'index' %}">Seguir comprando</a>
        </div>
    {% endif %}

    <style>
        .cardpago{
            border: 1px solid black;
        }

        .btn-custom{
            background-color: #1db954;
            border: 1px solid black;
        }
    
        .btn-custom:hover{
            transition: background-color 0.5s ease-in-out;
            background-color: #d6d6d6;
            border: 1px solid black;
        }

    </style>
{% endblock%}