body {

    padding: 0;
    margin: 0;
    background-color: #090909;

}

/* NAVBAR (O HEADER) ¡NO TOCAR!*/

.text-center-vertical {
    display: flex;
    align-items: center;
}

.text-custom {
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background-color: #121212;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 2px solid #3f3f3f;
}

.menu-custom {
    background-color: #1ed760;
    color: #ffffff;
}

.navbar-brand img {
    margin-left: 3em;
}

.navbar-toggler {
    margin-right: 3em;
    background-color: #1ed760;
    border: none;
    outline: none;
    width: 2em;
    height: 2em;
    font-size: 24px;

}

.navbar-toggler:hover {
    background-color: #1db954;
}

#menu-icon {
    color: rgb(0, 0, 0);
}

.offcanvas-header {
    background-color: #3f3f3f;
    border-bottom: 2px solid #535353;
}

.offcanvas-body {
    background-color: #212121;
    color: #ffffff;
}

.offcanvas-header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas-title {
    text-align: center;
    width: 100%;
    margin: 0;
}

.offcanvas-header .btn-close {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed760;
}

.SaludoHora {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}

.FuenteSaludo {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;
    
}

.FuenteSaludo:active{
    color: #1db954;
    font-family: 'Poppins';
    
}

.FuenteSaludo:hover {
    cursor: pointer;
}


.nav-link:hover{
    color: #1db954;
}

.nav-link.link2{
    color: #1db954;
}
.nav-link.link2:hover{
    color: #888888;
}

.custom-border {
    border-radius: 5px;
    background-color: #1d1d1d; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


ul {
    list-style-type: none;
    padding-left: 0;
}

@media screen and (max-device-width: 321px) {


    .text-custom{
        font-size: 1em;
    }
}

/* FIN DEL NAVBAR (O HEADER)*/

/* BOTON DE VUELTA Y CONFIRMACION */

/* Personalizar el botón */
.btn-primary {
    background-color: #1db954;
    font-weight: bold;
}

#EstiloBoton{
    font-family: Poppins;
    font-weight: bold;
}

/* Personalizar el modal de confirmación */
.modal-content {
    background-color: #1d1d1d;
    color: #ffffff;

}

.modal-header {
    background-color: #3f3f3f;
    border-bottom: 2px solid #535353;
    font-family: Poppins;
}

.modal-title {
    text-align: center;
    width: 100%;
    margin: 0;
}

.modal-header .btn-close {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed760;
}

.modal-body {
    background-color: #212121;
    color: #ffffff;
}

.modal-footer {
    background-color: #1d1d1d;
    border-top: 2px solid #535353;
}

.btn.btnPrimario {
    background-color: #1db954;
}

.btn.btnprimario:hover {
    background-color: #1db954;
}

.btnSecundario {
    background-color: #3f3f3f;
    color: #ffffff;
}

.btnSecundario:hover {
    background-color: #941313;
}

/*FIN DE BOTON DE VUELTA Y CONFIRMACION*/


/* BARRA DE DESPLAZAMIENTO (NO TOCAR) */

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

html {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2); 
}


html {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2); 
}

html::-moz-scrollbar-thumb {
    border-radius: 5px; 
}

html::-moz-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}
