{% extends 'base.html' %}

{% block content %}
<div class="col mt-5">

    <!-- Contenedor blanco para el formulario -->
    <div class="container-sm p-5 rounded text-dark logincustom">
        <h2 class="text-center" style="font-family: Poppins; font-weight: bold;">Login</h2>
        <p></p>

        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" name="password" class="form-control">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-custom">Login</button>
            </div>

        </form>
    </div>
</div>

<style>
    .logincustom {
        background-color: rgb(255, 255, 255, 0.4);
        border: 3px solid black;
    }

    .btn-custom {
        background-color: #1db954;
        border: 1px solid black;
        font-weight: bold;
    }

    .btn-custom:hover {
        transition: background-color 0.5s ease-in-out;
        background-color: #d6d6d6;
        border: 1px solid black;
    }
</style>
{% endblock %}