/*Body*/

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(63, 63, 63);
    
    
  }

/*Header (Encabezado)*/

.Encabezado {
    height: 115px;
    display: flex;
    background-color: black;
    align-items: center;
    font-family: "Oswald-Light";
    
}
.Encabezado .Encabezado-Titulo {
    background-color: black;
    height: 115px;
    display: flex;
    align-items: center;
    text-align: left;
    margin-left: 2em;
}


.Encabezado-Contenido{
    

    text-align: center;
    color: white;
    

}
.Encabezado-Logo{
    width: 7%;
    margin-right: 10px;
    margin-top: 2.2px;
    display: block;
}

/*Nav (Opciones) */

.Pestañas {
    background-color: rgb(25, 25, 25);
    font-family: "Oswald-Light", 'Montserrat', 'Raleway', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: white 0px 10px 10px;
    

}


.Nav-contenedor {
    display: none;
}

#IniciarSesion {
    display: block;

}

.show-container {

    color: white;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
    display: block;
    text-decoration: none;
    margin-top: -10px;
    margin-bottom: -10px;
    color: white;
}

.show-container.seleccionado {
    color: #797979;
}

/*Contenedor general */

.Nav-contenedor {

    
    width: 100%;
    padding-bottom: 15%;

}



/*Contenedor Iniciar Sesion*/



.center-content {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1vh;

}

.DivIniciarSesion {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20;
    font-family: "Oswald-Light", 'Montserrat', 'Raleway', sans-serif;
    height: 40vh;;

}

.datos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;

}

    .general-datos {
        margin-bottom: 20px;
    text-align: center;
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    background-color: black;
    padding: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: rgb(255, 255, 255) 1px 1px 10px;
}

.Formulario {
    width: 300px;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.Formulario::placeholder {
    color: white;
    opacity: 0.6;
}

.general-datos::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 5px solid white;
    z-index: -1;
    transition: background-color 0.3s ease;
}

.general-datos:hover::before {
    border-color: gray;
}

.entrar {
    display: inline-block;
    text-align: center;
    padding: 10px 30px;
    margin-top: 20px;
    background-color: black;
    animation: multicolor 2s linear infinite;
    border-radius: 20px;
    border: 2px solid white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Oswald-Light", 'Montserrat', 'Raleway', sans-serif;
    position: relative;
    overflow: hidden;
    z-index: 1; 
    color: white;
}

.entrar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(36, 36, 36);
    color: black;
    opacity: 0;
    transform: scale(1.5);
    z-index: -1;
    transition: opacity 0.5s ease;

}

.entrar:hover::before {
    opacity: 1;
}

.TextoIniciarSesion {

    font-family: "Oswald-Light", 'Montserrat', 'Raleway', sans-serif;
    color: white;
    font-size: 200%;

}




/*Contenedor Contacto*/

    /* Estilos para la sección de contacto */
    .Contacto {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        margin-top: 2em;
    }
    
    .FormularioContacto {
        font-family: 'Poppins-LightItalic', 'Montserrat', 'Raleway', sans-serif;
        margin-left: 3em;
        background-color: rgb(183, 183, 183);
        width: 100%;
        max-width: 500px; 
        padding: 40px;
        margin: 0 auto; 
        border: 2px solid black;
        font-size: 1.2em;
        color: #000000;
        padding-bottom: 1em;
        padding-top: 1em;
        text-align: center;
        transition: background-color 0.5s, color 0.5s ease-in-out; /* Agregamos una transición de color */
    
    }
    
    .FormularioContacto:hover {
    
        background-color: rgb(141, 141, 141);
        
    }
    
    
    
    .FormularioContacto h2 {
        font-size: 24px;
        margin-bottom: 20px;
        font-family: 'Poppins-Medium', 'Montserrat', 'Raleway', sans-serif;
    }
    
    .labelContacto {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .inputContacto[type="text"],
    .inputContacto[type="email"] {
        padding: 10px;
        border: 1px solid #000000;
        border-radius: 5px;
        width: 90%;
        font-size: 16px;
        margin-bottom: 1em;
    }
    
    
    .inputContacto[type="submit"] {
        border: 0.5px solid black;
        font-family: Poppins-BoldItalic;
        background-color: #28a745;
        color: #000000;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        margin-bottom: 1em;
        transition: background-color 0.5s, border-color 1s, color 1s;
    }
    
    .inputContacto:hover{
        background-color: gainsboro;
        color: #000000;
    }
    
    .Informacion {
        font-family: 'Poppins-LightItalic', 'Montserrat', 'Raleway', sans-serif;
        background-color: rgb(182, 182, 182);
        width: 100%;
        max-width: 500px; 
        padding: 40px;
        margin: 0 auto; 
        border: 2px solid black;
        font-size: 1.2em;
        color: #000000;
        padding-bottom: 1em;
        padding-top: 1em;
        text-align: center;
        transition: background-color 0.5s, color 0.5s ease-in-out; /* Agregamos una transición de color */
        
    }
    
    .Informacion:hover{
    
        background-color: rgb(141, 141, 141);
    }
    
    .Informacion h2 {
        font-size: 1.5em;
        font-family: 'Poppins-Bold', 'Montserrat', 'Raleway', sans-serif;
        margin-bottom: 20px;
    }
    
    .Informacion p {
        font-size: 1em;
        margin-bottom: 15px;
    }
    
    .Informacion ul {
        list-style-type: none;
        padding: 0;
    }
    
    .Informacion li {
        font-size: 16px;
        margin-bottom: 5px;
    }
    
    #mensaje-copiado {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333333c8;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        display: none;
        font-family: 'Poppins-Light', 'Montserrat', 'Raleway', sans-serif;
    }
    
    .copiar-texto {
        cursor: pointer;
        transition: color 0s ease-in-out; /* Agregamos una transición de color */
    }
    
    .copiar-texto:hover {
        color: rgb(17, 78, 32); /* Cambiamos el color al pasar el puntero sobre el texto */
        transition: color 0.5s ease-in-out;
        font-family: Poppins-Bold;
    }






/*Contenedor Nosotros*/

.tarjetas-container1{
    display: flex;
    margin-top: 5em;
    margin-left: 2em;
    margin-right: 2em;
    
}

.tarjeta {
    width: 100%;
    background-color: #000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    overflow: hidden;
    color: #fff;
    position: relative;
    background-repeat: no-repeat;
}

.tarjeta-imagen {
    position: relative;
    overflow:hidden;
}

.tarjeta-imagen img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.tarjeta:hover .tarjeta-imagen img {
    transform: scale(1.1);
}

.tarjeta-contenido {
    padding: 10px;
    text-align: center;
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    font-family: "Oswald-ExtraLight", 'Montserrat', 'Raleway', sans-serif;
}

.tarjeta h2 {
    margin: 10px 0;
    font-size: 1.5rem;
    font-family: "Oswald-Light", 'Montserrat', 'Raleway', sans-serif;
}

.tarjeta p {
    margin: 10px;
}



/* BARRA DE DESPLAZAMIENTO (NO TOCAR) */

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

html {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2); 
}


html {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2); 
}

html::-moz-scrollbar-thumb {
    border-radius: 5px; 
}

html::-moz-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}