{% extends 'baseEmpleados.html' %}
{% load static %}

{% block title %}

Ayuda

{% endblock %}


{% block js %}

{% endblock %}

{% block css %}


{% endblock %}

{% block contenido %}


    <div class="row"></div>
    <div class="container mt-4">
        <div class="col-md-12 custom-border link1 mb-4">
            <!-- Contenido de la columna pequeña -->
            <p class="text-center fs-2 TituloBienvenida" style="color: white; ">CONTACTO</p>
            <div class="Contacto">
                <div class="Formulario">
                    <h2>Contacto</h2>
                    <form action="Contacto.php" method="post">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="nombre" required>

                        <label for="email">Correo Electrónico:</label>
                        <input type="email" id="email" name="email" required>

                        <label for="mensaje">Mensaje:</label>
                        <input type="text" id="mensaje" name="mensaje" maxlength="50"
                            placeholder="Mensaje (máximo 50 caracteres)" required>

                        <input type="submit" name="enviar" value="Enviar">
                    </form>

                </div>


            </div>


        </div>
        <div class="col-md-12 custom-border link1 mb-4">
            <p class="text-center fs-2 TituloBienvenida" style="color: white; ">INFORMACION</p>
            <div class="Contacto">
                <div class="Informacion">
                    <h2>Información de Contacto</h2>
                    <p>¡Estamos aquí para ayudarte! Puedes contactarnos a través de este formulario o utilizando los
                        siguientes datos de contacto:</p>
                    <ul>
                        <li><strong class="TituloInformacion">Teléfono:</strong> <span class="copiar-texto"
                                data-texto="(302) 743-1100">(302) 743-1100</span></li>
                        <li><strong class="TituloInformacion">Correo Electrónico:</strong> <span class="copiar-texto"
                                data-texto="info@papeleriatyc.com">info@papeleriatyc.com</span></li>
                        <li><strong class="TituloInformacion">Dirección:</strong> <span class="copiar-texto"
                                data-texto="Calle Principal #123, Ciudad, País">Calle Principal #123, Bogotá,
                                País</span></li>
                    </ul>
                </div>
                <div id="mensaje-copiado">Texto copiado al portapapeles.</div>
            </div>

        </div>
    </div>

    <style>
        /*MENSAJE*/

/* CSS para la animacion deplazamiento*/

.ContenedorDezplazamiento {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    color:#1db954;
    background-color: #212121;
    padding: 0.4em;
    border-bottom: 2px solid #242424
}

.TextoDezplazamientoEspecial {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.TextoDezplazamientoEspecial2 {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.TextoDezplazamiento {
    display: inline-block;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.textoinicio {
    cursor: pointer;
    transition: color 0.4s ease-in-out; 
}

.textoinicio:hover {
    transition: color 0.3s, color 0.3s ease-in-out;
    color:#1db954
}


/* contenido */

.custom-border {
    border-radius: 5px;
    background-color: #1d1d1d; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.custom-border h2 {
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
}

.custom-border p {
    font-size: 14px;
    color: #888;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.col-md-3.custom-border.p-3.mb-4 {
    height: 100%; 
    overflow-y: auto; 
}

.col-md-3.custom-border.mb-4{
    overflow-y: auto; 
}




/*Columna pequeña (70%)*/

.TituloBienvenida {
    font-family: 'Raleway', sans-serif;
    background-color:#121212;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    border-bottom: 1px solid #3d3d3d; 
}

.custom-box.recuadros1 {
    background-color:#5d5d5d2f;
    border-radius: 5px;
}

.custom-box.recuadros1:hover{
    background-color:#7c7c7c2f;
    
}

.square-image {
    width: 100%; 
    height: auto; 
}

.recuadro-imagen {
    width: 33.33%; 
    float: left;
    padding-left: 10px; 
    
}

.row.mt-3 {
    margin-top: 10px; /* Ajusta el valor del margen según tus preferencias */
}

.col-md-3.custom-border.mb-4 {
    height: 100%;
    overflow-y: auto;
}

/*BOTONES PARA REDIRIGIR A MODULOS*/

.NombreDebajoIconos1 {
    position: absolute;
    top: 115%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 50px;
    font-size: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; 
    font-family: 'Oswald', sans-serif;
}

.NombreDebajoIconos2 {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 50px;
    font-size: 10px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; 
    font-family: 'Oswald', sans-serif;
}



.imagenes-Modulos img {

    transition: transform 0.3s, opacity 0.3s; 
    opacity: 0.4; 
}

.imagenes-Modulos img.ZoomClick:hover {
    transform: scale(1.2); 
    opacity: 1; 
}

.imagenes-Modulos img:not(:hover) {
    transform: scale(0.8); 
    opacity: 0.7; 
}


.imagenes-Modulos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ImagenCuadroIconos {
    position: relative;
}

.ImagenCuadroIconos:hover .NombreDebajoIconos1 {
    opacity: 1;
}
.ImagenCuadroIconos:hover .NombreDebajoIconos2 {
    opacity: 1;
}
.imagenes-Modulos img {
    width: 120px;
    margin: 10px;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.7;
}

.imagenes-Modulos img.ZoomClick:hover {
    transform: scale(1.2);
    opacity: 1;
}

.imagenes-Modulos a:not(:hover) img {
    transform: scale(0.8);
    opacity: 0.7;
}

.TituloNoticias {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #1db954;

}

.Contenido1Noticias {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-right: 50px;
    margin-left: 50px;
    color: white;
}

.Contacto {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.Formulario {
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
    margin-left: 3em;
    background-color:#121212;
    width: 100%;
    max-width: 500px; 
    padding: 40px;
    margin: 0 auto; 
    border: 2px solid black;
    font-size: 1.2em;
    color: #000000;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    transition: background-color 0.5s, color 0.5s ease-in-out; /* Agregamos una transición de color */
    transition: border 1s, color 1s ease-in-out; /* Agregamos una transición de color */

}

.Formulario:hover {

    background-color:#212121;
    border: 2px solid #3f3f3f
    
}



.Formulario h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #1db954;
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
}

.Formulario label {
    display: block;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
}

.Formulario input[type="text"],
.Formulario input[type="email"],
.Formulario textarea {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 90%;
    font-size: 16px;
    margin-bottom: 1em;
}


.Formulario input[type="submit"] {
    border: 0.5px solid black;
    font-family: 'Raleway';
    background-color: #28a745;
    color: #000000;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1em;
    transition: background-color 0.5s, border-color 1s, color 1s;
    transition: margin-left 1s ease-in-out;
}

.Formulario input[type="submit"]:hover{
    background-color: gainsboro;
    color: #000000;
    margin-left: 5px;
}

.Informacion {
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
    background-color:#121212;
    width: 100%;
    max-width: 500px; 
    padding: 40px;
    margin: 0 auto; 
    border: 2px solid black;
    font-size: 1.2em;
    color: #000000;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    transition: background-color 1s, color 1s ease-in-out; 
    transition: border 1s, color 1s ease-in-out; 
    
}

.Informacion:hover{

    background-color:#212121;
    border: 2px solid #3f3f3f
}

.Informacion h2 {
    font-size: 1.5em;
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
    color: #1db954;
    margin-bottom: 20px;
}

.Informacion h2:hover {
    font-size: 1.5em;
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
    color: #1db954;
    margin-bottom: 20px;
}

.Informacion p {
    font-size: 1em;
    margin-bottom: 15px;
    color: white;
}

.Informacion ul {
    list-style-type: none;
    padding: 0;
    color: white;
}

.Informacion li {
    font-size: 16px;
    margin-bottom: 5px;
    color: white;
}

.TituloInformacion{
    color: #1db954;
}

#mensaje-copiado {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333333c8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    font-family: 'Poppins', 'Montserrat', 'Raleway', sans-serif;
}

.copiar-texto {
    cursor: pointer;
    transition: color 0s ease-in-out; 
}

.copiar-texto:hover {
    color: rgb(17, 78, 32); 
    transition: color 0.5s ease-in-out;
    font-family: 'Poppins';
}

@media screen and (max-device-width: 347px) {
    .NoticiasLetra{
        font-family: 'Poppins';
        color: white;
        font-size: 180%;
        padding: auto;
        display: contents;
    
    }

    .text-custom{
        font-size: 1em;
    }
}

/* BARRA DE DESPLAZAMIENTO (NO TOCAR) */

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2); 
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6); 
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}

html {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2); 
}


html {
    scrollbar-width: thin; 
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2); 
}

html::-moz-scrollbar-thumb {
    border-radius: 5px; 
}

html::-moz-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8); 
}
    </style>
{% endblock %}