{% extends 'baseEmpleados.html' %}

{% load static %}

{% block title %}

Modulos Index

{% endblock %}


{% block js %}

<script src=""></script>

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/web_cerrada/menu_principalEmpleados.css' %}">

{% endblock %}

{% block contenido %}


    <div class="ContenedorDezplazamiento">
        <span class="TextoDezplazamiento">
            <span class="TextoDezplazamientoEspecial2"> //</span>
            <span class="TextoDezplazamientoEspecial">!YA ABRIMOS NUESTRA WEB AL PUBLICO</span>
                no te olvides compartirla con tus familiares
            <span class="TextoDezplazamientoEspecial2"> //</span>
        </span>
    </div>

    <div class="container">
        {% include 'messages.html' %}
    </div>


    <div class="container mt-4">

        <div class="col-md-12 custom-border link1 mb-4">

            <p class="text-center fs-2 TituloBienvenida" style="color: white; ">BIENVENIDOS A PAPELERIA T&C</p>
            <div class="row mb-4">
                <div class="col md-4 ">
                    <div class="imagenes-Modulos">
                        <a href="{% url 'productos_E' %}">
                            <div class="ImagenCuadroIconos">
                                <img src="{% static 'images/IconoProductos.png' %}" alt="Imagen 1"
                                    class="ZoomClick">
                                <div class="NombreDebajoIconos1">PRODUCTOS</div>
                            </div>
                        </a>

                        <a href="{% url 'categorias_E' %}">
                            <div class="ImagenCuadroIconos">
                                <img src="{% static 'images/IconoCategorias.png' %}" alt="Imagen 2" class="ZoomClick">
                                <div class="NombreDebajoIconos1">CATEGORIAS</div>
                            </div>
                        </a>
                    </div>
                </div>



            </div>

            <div class="row">

                <div class="col md-4 mb-4">
                    <div class="imagenes-Modulos">
                        <a href="{% url 'promocional_E' %}">
                            <div class="ImagenCuadroIconos">
                                <img src="{% static 'images/IconoPromociones.png' %}" alt="Imagen 3" class="ZoomClick">
                                <div class="NombreDebajoIconos2">PROMOCIONES</div>
                            </div>
                        </a>

                    
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="container mt-4">
        <div class="col-md-12 custom-border link1 mb-4">

            <p class="text-center fs-2 TituloBienvenida" style="color: white; ">NOTICIAS</p>
            <div class="row mb-4">

                <div class="col md-12 mb-3 ms-5">
                    <br>
                    <h1 class="TituloNoticias">PROGRAMA DE DESARROLLO PROFESIONAL:</h1>
                    <h1 class="Contenido1Noticias">¡Estamos comprometidos con su crecimiento! Hemos lanzado un nuevo
                        programa de desarrollo que incluye oportunidades de capacitación y recursos para ayudarlos a
                        avanzar en sus carreras.</h1>

                </div>


            </div>
            <div class="row mb-4">

                <div class="col md-12 mb-3 ms-5">

                    <h1 class="TituloNoticias">EMPLEADOS DEL MES:</h1>
                    <h1 class="Contenido1Noticias">Queremos destacar y celebrar sus logros. Cada mes, estaremos
                        reconociendo a un empleado destacado por su arduo trabajo y dedicación.</h1>

                </div>


            </div>
            <div class="row mb-4">

                <div class="col md-12 mb-3 ms-5">

                    <h1 class="TituloNoticias">ÁREA DE DESCANSO RENOVADA:</h1>
                    <h1 class="Contenido1Noticias">Hemos transformado el área de descanso en un espacio más acogedor y
                        relajante para que puedan recargar energías durante sus pausas.</h1>
                    <br>
                </div>


            </div>


        </div>
    </div>
    <div class="container mt-4">
        <div class="col-md-12 custom-border link1 mb-4 SeccionContacto">

            <p class="text-center fs-2 TituloBienvenida" style="color: white; ">Pre-Sustentacion</p>
                        
            <div class="row">
                <div class="col-md-1 "></div>
                <!--Recuadro para video-->
                <div class="col-md-5 ImgClick text-center-vertical justify-content-sm-center mb-4">
                    <video controls width="100%" height="auto">
                        <source src="{% static 'videos/videopresustentacion.mp4' %}" type="video/mp4">
                        Tu navegador no admite la reproducción de videos.
                    </video>
                </div>
                <!--Fin de Recuadro para video-->
                <div class="col-md-6 text-center">
                    <div class="ayuda-box">
                        <p class="TituloNoticias" style="color: #1db954; font-size: 1.5em;">¿Quieres ver nuestra pre-sustentacion?</p>
                        <p class="Contenido1Noticias" style="color: white; font-size: 1.0em;">Aqui esta el video de nuestra presustentacion sobre la papeleria T&C</a> <br> <br>Nos enfocamos en el desarrollo de una papeleria para llevar productos a todo el pais</p>
                    </div>
                
                </div>
            </div>

        </div>
    </div>

    {% endblock %}