

.custom-border {
    border-radius: 5px;
    background-color: #1d1d1d; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


/*contenido inventario*/


.TituloBienvenida {
    font-family: 'Poppins', sans-serif;
    background-color:#121212;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    border-bottom: 1px solid #3d3d3d; 
}

@media only screen and (min-device-width: 768px) {
    .contenidoInv{
        border-left: 1px solid #3d3d3d;
        margin-top: -1em;
        
    }
}

@media screen and (max-device-width: 767px) {
    .contenidoInv{
        margin-bottom: 1em;
    }
}

.TituloContenido{
    margin-top: 0.3em;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    
}

.ContenidoContenido{
    font-family: 'Poppins', sans-serif;
    color: #888888;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1.5em;
}

.TituloContenido2{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}



.imagenes-Modulos img {

    transition: transform 0.3s, opacity 0.3s; 
    opacity: 0.4; 
}

.imagenes-Modulos img.ZoomClick:hover {
    transform: scale(1.2); 
    opacity: 1; 
}

.imagenes-Modulos img:not(:hover) {
    transform: scale(0.8); 
    opacity: 0.7; 
}


.imagenes-Modulos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

.ImagenCuadroIconos {
    position: relative;
}

.ImagenCuadroIconos:hover .NombreDebajoIconos1 {
    opacity: 1;
}
.ImagenCuadroIconos:hover .NombreDebajoIconos2 {
    opacity: 1;
}
.imagenes-Modulos img {
    width: 120px;
    margin: 10px;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0.7;
}

.imagenes-Modulos img.ZoomClick:hover {
    transform: scale(1);
    opacity: 1;
}

.imagenes-Modulos a:not(:hover) img {
    transform: scale(0.8);
    opacity: 0.7;
    
}

.Mitad3 {

    text-align: center;
    font-size: 2em;
    color: white;
    font-family: 'Poppins', sans-serif;

}

.Mitad3-3 {
    padding: 50px;
    padding-top: 1%;
}

.ContextoLetraTitulo{

    color: rgb(255, 255, 255);
    font-family: 'Raleway';
    font-size: 2em;
}

.ContextoProveedores {

    left: 10%;
    color: rgb(193, 193, 193);
    font-family: 'Poppins';
}

.LetraContexto{
    font-size: 1.5em;
}

/*Mitad 2*/

.Mitad2 {
    padding: 50px;
    padding-bottom: 0%;
    text-align: center;
    
}

.NoticiasLetra{
    font-family: 'Poppins';
    color: white;
    font-size: 44px;
    padding: auto;
    display: contents;
    


}

.Mitad2-2 {

    padding: 50px;
    padding-top: 1%;
    text-align: center;
    
}

.LetraDescripcionProveedores {

    font-family: 'Poppins', sans-serif;
    color: rgb(193, 193, 193);
    font-size: 1.5em;

}

@media screen and (max-device-width: 347px) {
    .NoticiasLetra{
        font-family: 'Poppins';
        color: white;
        font-size: 180%;
        padding: auto;
        display: contents;
    
    }

    .text-custom{
        font-size: 1em;
    }
}
