{% extends 'base.html' %}

{% block content %}
<div class="col">
    <form method="post">
        {% csrf_token %}
        <div class="h4 text-center mb-3 mt-4">
            ¿Estas seguro de eliminar la direccion?
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-danger btncustomlistaddress" value="Eliminar">
        </div>
    </form>
</div>

<style>
    @media (max-width: 767px) {
    .btncustomlistaddress {
        width: 100%;
    }
}
</style>

{% endblock %}