body {

    padding: 0;
    margin: 0;
    background-color: #090909;

}

/* NAVBAR */

.text-center-vertical {
    display: flex;
    align-items: center;
}

.text-custom {
    color: #ffffff;
    font-size: 1.5em;
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
}

.navbar-custom {
    background-color: #121212;
    margin-right: 0;
    margin-left: 0;
    border-bottom: 2px solid #3f3f3f;
}

.menu-custom {
    background-color: #1ed760;
    color: #ffffff;
}

.navbar-brand img {
    margin-left: 3em;
}

.navbar-toggler {
    margin-right: 3em;
    background-color: #1ed760;
    border: none;
    outline: none;
    width: 2em;
    height: 2em;
    font-size: 24px;

}

.navbar-toggler:hover {
    background-color: #1db954;
}

#menu-icon {
    color: rgb(0, 0, 0);
}

.offcanvas-header {
    background-color: #3f3f3f;
    border-bottom: 2px solid #535353;
}

.offcanvas-body {
    background-color: #212121;
    color: #ffffff;
}

.offcanvas-header {
    background-color: #212121;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offcanvas-title {
    text-align: center;
    width: 100%;
    margin: 0;
}

.offcanvas-header .btn-close {
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1ed760;
}

.SaludoHora {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom: 1px solid white;
}

.FuenteSaludo {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 35px;

}

.FuenteSaludo:active {
    color: #1db954;
    font-family: Poppins-BoldItalic;

}

.FuenteSaludo:hover {
    cursor: pointer;
}


.nav-link:hover {
    color: #1db954;
}

.nav-link.link2 {
    color: #1db954;
}

.nav-link.link2:hover {
    color: #888888;
}


/* CONTENIDO /*

/*MENSAJE*/

/* CSS para la animacion deplazamiento*/

.ContenedorDezplazamiento {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 100%;
    color: #1db954;
    background-color: #212121;
    padding: 0.4em;
    border-bottom: 2px solid #242424
}

.TextoDezplazamientoEspecial {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
}

.TextoDezplazamientoEspecial2 {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}

.TextoDezplazamiento {
    display: inline-block;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.textoinicio {
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}

.textoinicio:hover {
    transition: color 0.3s, color 0.3s ease-in-out;
    color: #1db954
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* BARRA DE DESPLAZAMIENTO (NO TOCAR) */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2);
}


html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.6) rgba(0, 0, 0, 0.2);
}

html::-moz-scrollbar-thumb {
    border-radius: 5px;
}

html::-moz-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.8);
}