{% extends 'Web_Cerrada/Herencias/HerenciaEmpleado.html' %}

{% load static %}

{% block title %}

Caja

{% endblock %}


{% block js %}

<script src="{% static 'js/Web_Cerrada/Empleado/Caja/Caja.js' %}"></script>

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/Web_Cerrada/Empleado/Caja/Caja.css' %}">

{% endblock %}

{% block contenido %}


<div class="container mt-4">

    <div class="col-md-12 custom-border link1">

        <p class="text-center fs-2 TituloBienvenida" style="color: white; ">CAJA </p>
        <div class="row">

            <div class="col-md-8 text-center-vertical">
                <div class="col-md-12">
                    <main class="Mitad2">
                        <h1 class="NoticiasLetra"> ¿QUE ES "CAJA"?</h1>
                    </main>
                    <main class="Mitad2-2">
                        <div class="DescripcionProveedores">
                            <h1 class="LetraDescripcionProveedores">
                                El módulo "Caja" se encarga de gestionar aspectos financieros, incluyendo las funcion
                                de "Gestionar Facturas".
                            </h1>
                        </div>
                    </main>
                </div>

            </div>
            <div class="col-md-4 text-center contenidoInv">
                <h2 class="TituloContenido2">SECCIONES</h2>
                <div class="row">
                    <div class="col-md-12 mb-5 ">

                        <div class="imagenes-Modulos">
                            <a class="LinkModulos" href="{% url 'Factura' %}">
                                <div class="ImagenCuadroIconos">
                                    <img src="{% static 'img/GenerarInformesCajaIcon.png' %}" alt="Imagen 2"
                                        class="ZoomClick">
                                </div>
                            </a>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>

    <div class="row">



    </div>

</div>
<div class="container mt-4 mb-3">

    <div class="col-md-12 custom-border link1">

        <p class="text-center fs-2 TituloBienvenida" style="color: white; "> PARA QUE SIRVE? </p>
        <div class="row">

            <div class="col-md-12 text-center-vertical">
                <div class="col-md-12">
                    <main class="Mitad3-3">
                        <main class="ModificarProveedoresContexto">
                            <h1 class="ContextoLetraTitulo"><img src="{% static 'img/GestionarFacturaIcon.png' %}"
                                    alt="" style="width: 5%;"> Gestionar Facturas </h1>
                            <div class="ContextoProveedores">
                                <h4>" Esta función permite administrar y controlar la emisión, revisión y registro de
                                    facturas dentro de la organización o en el contexto financiero."</h4>
                            </div>
                        
                        </main>
                    </main>
                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}