<form action="{% url 'carts:add' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="producto_id" value="{{ producto.id }}">
    <div class="input-group">
        <button type="button" class="btn btn-custom2" id="remove">-</button>
        <div class="input-width">
            <input type="number" value="1" class="form-control" id="quantity" name="quantity" readonly>
        </div>
        <button type="button" class="btn btn-custom2" id="add">+</button>
    </div>
    <div class="mt-4 text-center text-md-start"> <!-- Alinea el texto a la izquierda en pantallas pequeñas y lo centra en las demás -->
        <button type="submit" class="btn btn-custom btn-lg">Agregar al carrito</button> <!-- Añade la clase "btn-lg" para hacer el botón más grande en pantallas pequeñas -->
    </div>
</form>

<script>

    const add = document.getElementById('add')
    const remove = document.getElementById('remove')
    const quantity = document.getElementById('quantity')

    add.addEventListener('click', function(){
        quantity.value = parseInt(quantity.value) + 1
    })

    remove.addEventListener('click', function(){
        value = parseInt(quantity.value)

        if(value !=1){
            value = value - 1
        }
        quantity.value = value
    })

</script>

<style>
    /* Estilos para botones */
    .btn-custom {
        background-color: #1db954;
        border: 1px solid black;
        transition: background-color 0.5s ease-in-out;
    }
    
    .btn-custom:hover {
        background-color: #d6d6d6;
    }

    .btn-custom2 {
        background-color: #1db954;
        transition: background-color 0.1s ease-in-out;
    }
    
    .btn-custom2:hover {
        background-color: #d6d6d6;
    }

    /* Estilos responsivos */
    @media (max-width: 576px) {
        .input-group {
            flex-direction: column;
            align-items: center;
        }

        .input-width {
            margin-bottom: 10px;
        }

        /* Eliminar el border-radius en botones pequeños */
        .btn-custom,
        .btn-custom2 {
            border-radius: 0; /* Elimina el border-radius en pantallas pequeñas */
        }

         /* Ajustes para el texto del botón en pantallas pequeñas */
         .mt-4 {
            width: 100%; /* Ancho completo */
        }

        .btn-custom.btn-lg {
            width: 100%; /* Ancho completo para el botón grande en pantallas pequeñas */
        }
    }
    .input-width input[type="number"] {
        width: 80px; /* Ajusta el ancho según sea necesario */
    }

    .input-width input[type="number"] {
        width: 80px; /* Ajusta el ancho según sea necesario */
    }

    /* Estilos para botones */
    .btn-custom {
        background-color: #1db954;
        border: 1px solid black;
        transition: background-color 0.5s ease-in-out;
    }
    
    .btn-custom:hover {
        background-color: #d6d6d6;
    }

    .btn-custom2 {
        background-color: #1db954;
        transition: background-color 0.1s ease-in-out;
    }
    
    .btn-custom2:hover {
        background-color: #d6d6d6;
    }

    /* Estilos responsivos */
    @media (max-width: 576px) {
        .input-group {
            flex-direction: column;
            align-items: center;
        }

        .input-width {
            margin-bottom: 10px;
        }
    }
</style>