{% extends 'base.html' %}

{% block breadcrumb %}
    {% include 'orders/snippets/breadcrumb.html' %}
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mt-4" >
                <div class="mt-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="font-weight-bold mb-3 text-center" style="font-weight: bold; font-family: Raleway; font-size: 1.3em;" >
                                Código promocional
                            </div>
                            <form id="promocode-form" action="{% url 'promo_codes:validate' %}">
                                <input type="text" name="code" value="{{ order.promo_code.code }}" class="form-control mb-2 codigocustom" placeholder="Código de promoción" {% if order.promo_code %} readonly {% endif %}>
                                <div class="text-center">
                                    <button id="submit-promo" class="btn btn-custom btn-block">Validar Código</button>
                                </div>
                                
                            </form>
                            <div class="text-success mt-2" id="promocode-success">
                                {% if order.promo_code %}
                                    Código aplicado exitosamente
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% url 'orders:complete' as next_url %}
                {% include 'orders/snippets/resume.html' with next_url=next_url %}
                <div class="mt-2 text-center">
                    <a href="{% url 'orders:cancel' %}" class="btn btn-custom2 btn-block">Cancelar orden</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="h3 mb-4">
                    Para confirmar...
                </div>

                <div class="card mt-4 bg-light text-dark shadow text-center">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 mb-4" style="font-weight: 500;">
                                <div class="font-weight-bold mb-3 text-center" style="font-weight: bold; font-family: Raleway; font-size: 1.5em;">
                                    Dirección de envío
                                </div>
                                <div class="card-text">
                                    {{ shipping_address.address }}
                                </div>
                                <div class="card-text">
                                    {{ shipping_address.address_countrydetail }}
                                </div>
                                <div class="card-text">
                                    {{ shipping_address.address_mundetail }}
                                </div>
                                <div class="card-text">
                                    {{ shipping_address.reference }}
                                </div>
                                <div class="card-text">
                                    {{ shipping_address.postal_code }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-4 text-center" style="font-weight: 500;">
                                <div class="font-weight-bold mb-3 text-center" style="font-weight: bold; font-family: Raleway; font-size: 1.5em;">
                                    Método de pago
                                </div>
                                <div class="card-text">
                                    Tarjeta terminada 4242
                                    <br>
                                    Andres Valero
                                    <br>
                                    <br>
                                    Cargo impuestos +0.3%
                                    <br>

                                    <h5 style="color: red;">EJEMPLO</h5>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <div class="card">
                        <div class="card-body text-dark">
                            {% for producto in cart.productos.all %}   
                                {% include 'orders/snippets/producto.html' %}
                            {% endfor %}   
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        const form = document.getElementById('promocode-form')

        form.addEventListener('submit', function(e){
            e.preventDefault()

            const input = this.code 
            const code = input.value
            const url = this.action + "?code=" + code
            const div_total = document.getElementById('order-total')
            const div_success = document.getElementById('promocode-success')

            console.log(url)

            fetch(url)
                .then(response => response.json() )
                .then(response => {
                    
                    if(response.status == true){
                        //success
                        div_total.innerHTML = "$" + response.total


                        div_success.classList.remove('text-danger')
                        div_success.classList.add('text-success')

                        div_success.innerHTML = 'Codigo aplicado exitosamente'

                        input.readOnly = true

                    }else{
                        div_success.innerHTML = 'Codigo no valido'
                        div_success.classList.remove('text-success')
                        div_success.classList.add('text-danger')
                    }
                })

        })

    </script>

    <style>
        .btn-custom2 {
        background-color: #bb1e1e;
        border: 1px solid #000000;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.801);
        font-weight: bold;
        transition: background-color, color, border 0.3s ease-in-out;
    }

    .btn-custom2:hover {
        color: white;
        background-color: #960a0a;
        border: 1px solid #ffffff;
    }

    @media (max-width: 767px) {
        .btn-custom2 {
            width: 80%;
            margin-bottom: 2em;
        }

        .codigocustom{
            width: 100%;
        }
    }
    </style>
{% endblock %}