{% load producto_extras %}

<div class="row mt-2">
    <div class="col-3 col-md-2 text-center">
        {% if producto.image %}
            <img src="{{ producto.image.url }}" alt="Imagen del producto" class="img-fluid" width="60" height="60">
        {% endif %}
    </div>
    <div class="col-9 col-md">
        <div class="row">
            <div class="col">
                <strong>
                    <a href="{% url 'productos:producto' producto.slug %}" style="text-decoration: none; color: rgb(0, 0, 0); font-family: Inter; font-size: 1.1em;">{{ producto.titulo }}</a>
                </strong>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <strong class="text-danger" style="font-family: Raleway;">{{ producto.precio | precio_format }}</strong>
            </div>
        </div>
    </div>
</div>
