{% load producto_extras %}

<div class="card cardcustom">
    <div class="card-body">
        <h5 class="card-title font-weight-bold mb-4 text-center" style="color: black; font-weight: bold; font-family: Raleway; font-size: 1.3em;">Resumen del pedido</h5>
        <div class="table-responsive" style="font-weight: 500;">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Productos</td>
                        <td class="font-weight-bold">{{ cart.total | precio_format }}</td>
                    </tr>
                    <tr>
                        <td>Envío</td>
                        <td class="font-weight-bold">{{ order.shipping_total | precio_format }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="font-weight-bold text-danger mb-3 text-center" style="font-weight: bold; font-family: Inter;">
            Total (Impuestos incluidos):
            <span class="d-block">{{ order.total | precio_format }}</span>
        </div>
        <div class="mt-2 text-center">
            <a href="{{ next_url }}" class="btn btn-custom btn-block">Confirmar pedido</a>
        </div>
    </div>
</div>

<style>
    .cardcustom {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .cardcustom .table td {
        border-top: none;
    }

    .btn-custom {
        background-color: #1db954;
        border: 1px solid #1db954;
        border-radius: 5px;
        color: rgba(0, 0, 0, 0.801);
        font-weight: bold;
        transition: background-color 0.3s ease-in-out;
    }

    .btn-custom:hover {
        color: white;
        background-color: #0f7c3f;
        border: 1px solid #0f7c3f;
    }

    @media (max-width: 767px) {
        .btn-custom {
            width: 100%;
        }
    }


</style>