{% extends 'Web_Cerrada/Herencias/HerenciaEmpleado.html' %}

{% load static %}

{% block title %}

Inventario

{% endblock %}


{% block js %}

<script src="{% static 'js/Web_Cerrada/Empleado/Inventario/Inventario.js' %}"></script>

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/Web_Cerrada/Empleado/Inventario/Inventario.css' %}">

{% endblock %}

{% block contenido %}

    <div class="container mt-4">

        <div class="col-md-12 custom-border link1">

            <p class="text-center fs-2 TituloBienvenida" style="color: white; ">INVENTARIO</p>
            <div class="row">

                <div class="col-md-8 text-center-vertical">
                    <div class="col-md-12">
                        <main class="Mitad2">
                            <h1 class="NoticiasLetra"> ¿QUE ES "INVENTARIO"?</h1>
                        </main>
                        <main class="Mitad2-2">
                            <div class="DescripcionProveedores">
                                <h1 class="LetraDescripcionProveedores">
                                    El módulo "Inventario" en nuestra web abarca la gestión de productos, control del stock, seguimiento de adquisiciones y ventas, así como la capacidad de consultar y acceder a información detallada sobre los productos y existencias disponibles en cualquier momento.
                                </h1>
                            </div>
                        </main>
                    </div>

                </div>
                <div class="col-md-4 text-center contenidoInv">
                    <h2 class="TituloContenido2">SECCIONES</h2>
                    <div class="row">
                        <div class="col-md-12 mb-5 ">
                            <div class="imagenes-Modulos">
                                <a href="{% url 'Modificar_Inventario' %}">
                                    <div class="ImagenCuadroIconos">
                                        <img src="{% static 'img/GestionarInventario.png' %}" alt="Imagen 1"
                                            class="ZoomClick">
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">



        </div>

    </div>
    <div class="container mt-4 mb-3">

        <div class="col-md-12 custom-border link1">

            <p class="text-center fs-2 TituloBienvenida" style="color: white; "> PARA QUE SIRVE? </p>
            <div class="row">

                <div class="col-md-12 text-center-vertical">
                    <div class="col-md-12">
                        <main class="Mitad3-3">
                            <main class="ModificarProveedoresContexto">
                                <h1 class="ContextoLetraTitulo"><img src="{% static 'img/GestionarInventario.png' %}" alt="" style="width: 5%;"> Gestionar Inventario </h1>
                                <div class="ContextoProveedores">
                                    <h4>"Permite administrar y controlar el inventario de productos, incluyendo la gestión de stock, adquisiciones y ventas."</h4>
                                </div>
                            </main>
                            
                        </main>
                    </div>

                </div>
                
            </div>

        </div>

    </div>

    {% endblock %}