{% extends 'Web_Abierta/Herencia/Base.html' %}

{% load static %}

{% block js %}

<script src="{% static 'js/Web_Abierta/App/MarketplaceIndex.js' %}"></script>

{% endblock %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/Web_Abierta/App/MarketplaceIndex.css' %}">

{% endblock %}

{% block contenido %}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/BannerMarketplace1.jpeg' %}" class="d-block w-100 img-carousel" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/BannerMarketplace2.jpeg' %}" class="d-block w-100 img-carousel" alt="...">
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/BannerMarketplace3.jpeg' %}" class="d-block w-100 img-carousel" alt="...">
        </div>
        <!-- Agrega más elementos carousel-item según la cantidad de imágenes -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div id="contenido">
    <div class="productos mt-5">
        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/lenovo_yoga_710.jpeg" alt="yoga">
            </div>

            <div class="detalles">
                <h5>Lenovo</h5>
                <h2>Yoga 710</h2>
                <h3>$799.990</h3>
            </div>
        </div>


        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/iphone.jpeg" alt="yoga">
            </div>

            <div class="detalles">
                <h5>apple</h5>
                <h2>Iphone</h2>
                <h3>$699.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/lenovo_tablet.jpeg" alt="tablet">
            </div>

            <div class="detalles">
                <h5>lenovo</h5>
                <h2>Tables</h2>
                <h3>$199.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/s9.jpeg" alt="s9">
            </div>

            <div class="detalles">
                <h5>Samsung</h5>
                <h2>Galaxy S9</h2>
                <h3>$699.990</h3>
            </div>
        </div>

        <div class="producto">
            <div class="contenedor">
                <img src="img/productos/macbook.jpeg" alt="macbook">
            </div>

            <div class="detalles">
                <h5>Apple</h5>
                <h2>Macbook 13</h2>
                <h3>$1.200.000</h3>
            </div>
        </div>

    </div>
</div>

{% endblock %}