{% extends 'base.html' %}
{% load static %}

{% block content%}

<div class="col">
    <div class="col-10 offset-md-1">
        <h4 class="text-center mb-4" style="font-family: Inter; font-weight: bold;">{{ message }}</h1>
            {% include 'productos/snippets/search.html' %}
    </div>
    
    <div class="container listviewcustom">
        <div class="row">
            <div class="col-12">
                {% include 'productos/snippets/list.html' %}
            </div>
        </div>
    </div>

</div>

<style>
    /* Carrousel */

.img-carousel {
    height: 350px; 
    object-fit: cover; 
    background-color: #11632e;
  }


  * {
    margin:0;
    padding:0;
}

</style>
{% endblock %}


