<div class="mb-5">
    <div class="container-sm p-5 rounded text-dark logincustom">
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
        
            {% for field in form %}
            <div class="form-group mb-3">
                {{ field.label_tag }}
                {{ field }}
        
        
                {% if field.errors %}
                {{ field.errors }}
                {% endif %}
        
            </div>
            {% endfor %}
            <div class="text-center">   
                <button type="submit" class="btn btn-custom">{{ message }}</button>
            </div>
        
        </form>
    </div>
    
</div>

<style>
    .logincustom {
        background-color: rgb(247, 247, 247);
        border: 3px solid black;
    }

    .btn-custom {
        background-color: #1db954;
        border: 1px solid black;
        font-weight: bold;
    }

    .btn-custom:hover {
        transition: background-color 0.5s ease-in-out;
        background-color: #d6d6d6;
        border: 1px solid black;
    }
</style>