{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/LogoSinFondo_PapeleriaT_C.png' %}">

    <!-- Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!-- Libreria de iconos font-awesome-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <!-- CSS y JS  Personalizado -->
    {% block css %}
    {% endblock %}
    <script src="{% static 'js/Web_Cerrada/Herencias/HerenciaAdministrador.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/Web_Cerrada/Herencias/HerenciaAdministrador.css' %}">

    <!-- Boostrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Google Fonts-->
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap" rel="stylesheet">

    <!-- Raleway-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap" rel="stylesheet">

    <!-- Oswald -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container-fluid">

            <a class="navbar-brand text-center-vertical" href="{% url 'Menu_PrincipalAdmin' %}">
                <img src="{% static 'img/LogoSinFondo_PapeleriaT_C.png' %}" alt="Logo" width="40" height="40"
                    class="rounded-circle">
                <span class="text-custom textoinicio">PAPELERIA T&C <h6>(ADMIN)</h6></span>
            </a>

            <button class="navbar-toggler d-lg-inline" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarMenu" aria-controls="navbarMenu">
                <i class="fas fa-bars" id="menu-icon"></i>
            </button>
        </div>
    </nav>


    <div class="offcanvas offcanvas-end menu-custom" tabindex="-1" id="navbarMenu" aria-labelledby="navbarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="navbarMenuLabel">OPCIONES</h5>

            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="navbar-nav">

                <nav class="SaludoHora">
                    <p class="FuenteSaludo" id="saludo"></p>
                    <p></p>
                </nav>
                <p></p>
                <div class="col-md-12 custom-border p-3 ">
                    <a class="nav-link me-4 link2 text-start fs-5" href="{% url 'ModulosIndexAdmin' %}" id="mostrarModal">
                        MODULOS <i class="fa-solid fa-arrow-right"></i>
                    </a>
                    <ul>
                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-5" href="{% url 'CajaAdmin' %}">
                                <i class="fas fa-box "></i>
                                Caja
                            </a>
                        </li>

                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-5" href="{% url 'InventarioAdmin' %}">
                                <i class="fas fa-list"></i>
                                Inventario
                            </a>
                        </li>

                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-5" href="{% url 'PersonalAdmin' %}">
                                <i class="fas fa-user"></i>
                                Personal
                            </a>
                        </li>

                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-6" href="{% url 'ProveedoresAdmin' %}">
                                <i class="fas fa-truck"></i>
                                Proveedores
                            </a>
                        </li>
                    </ul>

                </div>
                <p></p>
                <div class="col-md-12 custom-border p-3 ">
                    <a class="nav-link me-4 link2 text-start fs-5" href="" id="mostrarModal">
                        SOCIAL <i class="fa-solid fa-arrow-right"></i>
                    </a>
                    <ul>
                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-5" href="{% url 'Menu_Principal' %}">
                                <i class="fas fa-home "></i>
                                Inicio
                            </a>
                        </li>

                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-5" href="#">
                                <i class="fas fa-users"></i>
                                Nosotros
                            </a>
                        </li>

                        <li class="nav-item" style="color: rgb(196, 196, 196);border: none; outline: none;">
                            <a class="nav-link me-6" href="{% url 'Login' %}">
                                <i class="fas fa-sign-out-alt"></i>
                                Cerrar Sesion
                            </a>
                        </li>
                    </ul>

                </div>

            </ul>
        </div>
    </div>
    <div class="contenido">

        {% block contenido %}
        {% endblock %}

    </div>

    {% block js %}
    {% endblock %}

</body>

</html>